<h1>DragonBall Page</h1>

<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }} , Poder: {{ power() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Personaje"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power() !== 0 ? power() : ''"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />
    <button class="mt-2 btn btn-primary" (click)="addCharacter()">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol>
      @for (character of characters(); track character.id) {
        <li>
          @if (character.power >= 3000) {
            <span>{{ character.id }} </span>
            <span>{{ character.name }} </span>
            <strong
              [class.text-danger]="character.power > 9000"
              [class.text-primary]="character.power < 9000"
              >({{ character.power }})</strong
            >
          } @else {
            <strong>Personaje poco poderoso</strong>
          }
          <!-- <strong [class.text-danger]="character.power > 9000">({{ character.power}})</strong> -->
        </li>
      }
    </ol>
  </div>
</section>
